h1{
    font-size: 2em;
    color: deeppink;
}
#todoapp{
    width:400px;
    margin:0 auto;
    text-align: center;
}

#txtNewToDo{
    width: 100%;
    height: 40px;
    font-size: 1.5em;
    color: lightgray;
}
.todolist{
    border: lightgray 1px solid;
    font-size: 1.3em;
    color: darkgray;
    margin: 0;
    width: 406px;
    padding-inline-start: 0px;
    text-align: left;
}
li.todoitem{
    list-style: none;
    height: 33px;
}
button.remove{
    float: right;
    background-color: white;
    border-width: 0px;
    color: darkgray;
    height: 33px;
}
.todofooter{
    border: darkgray 1px solid;
    width: 406px;
    text-align: left;
    color: darkgray;
    height: 35px;
    line-height: 35px;
}
button.clearAll{
    float: right;
    background-color: white;
    border-width: 0px;
    height:35px;
}