<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
</head>

<body>
    <section id="todoapp">
        <header class="header">
            <h1>ToDoList</h2>
                <input type="text" name="newToDo" id="txtNewToDo" class="new-todo" 
                placeholder="请输入任务" autofocus="autofocus" v-model="newtodo"
                @keyup.enter="addItem">
        </header>
        <section class="main">
            <ul class="todolist">
                <li class="todoitem" v-for="(item,index) in todolist">
                    <div class="view">
                        <span>{{ index+1 }}.</span>
                        <label>{{ item }}</label>
                        <button class="remove" @click="removeItem(index)">remove</button>
                    </div>
                </li>
            </ul>
        </section>
        <footer class="todofooter">
            <span  v-show="todolist.length!=0">
                <strong>{{ todolist.length }}</strong>
                items left
            </span>
            <button class="clearAll" @click="clearAll"  v-show="todolist.length!=0">Clear</button>
        </footer>
    </section>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#todoapp",
            data: {
                todolist : ["写代码", "吃饭饭", "睡觉觉"],
                newtodo:"好好学习，天天向上"
            },
            methods: {
                addItem:function(){
                    this.todolist.push(this.newtodo);
                },
                removeItem:function(index){
                    this.todolist.splice(index,1);
                },
                clearAll:function(){
                    this.todolist = [];
                }
            }
        })
    </script>
</body>

</html>